.character-hero {
  background-color: $green-500;
  min-height: 50vh;
}

.character-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
}
