.character-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
}

.character-category {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.character-category:hover {
  background-color: $red-500;
  color: $white-500;
  font-weight: bold;
}

.category {
  flex: 1 1 auto;
}

.category-header {
  display: flex;
  align-items: center;
}

.back-button {
  cursor: pointer;
  font-size: 37px;
  line-height: 0.3;
  transition: color 0.4s ease-in-out;
}

.back-button:hover {
  color: $green-500;
}

.category-title {
  display: flex;
  align-items: center;
  font-size: 47px;
  text-transform: capitalize;
  word-break: break-word;
}

.category-list {
  margin: 0 0 0 15px;
}

.category-item {
  font-size: 19px;
}

@media (max-width: 490px) {
  .character-info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 200px);
  }
}
