.character-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
}

.character-category {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.character-category:hover {
  background-color: $red-500;
  color: $white-500;
  font-weight: bold;
}
